{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<div class="account-container">
      <form action="{% url 'account_email' %}" method="post">
        {% csrf_token %}
        {{ email_form.as_p }}
        <button class="form-account" type="submit">Почта <i class="fas fa-envelope"></i></button>
  </form>



  <form action="{% url 'account_change_password' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="form-account" type="submit">Изменить пароль <i class="fas fa-key"></i></button>
  </form>


  <form action="{% url 'account_reset_password' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="form-account" type="submit">Сбросить пароль <i class="fas fa-unlock"></i></button>
  </form>

      <form action="{% url 'account_logout' %}" method="post">
     {% csrf_token %}
    <button class="form-account" type="submit">Выйти <i class="fas fa-sign-out-alt"></i></button>
  </form>

</div>
<div class="user-comments">
    <div class="catalog-title">
        Ваши комментарии
    </div>
    <ul class="comment-list">
        {% if user_comments %}
            {% for reviews_from_site in user_comments %}
                <li class="comment-item">
                    <div class="comment-title">{{ reviews_from_site.title }}</div>
                    <div class="comment-body">{{ reviews_from_site.review }}</div>
                    <a href="{% url 'cinova:delete_review' reviews_from_site.movie_id %}" class="delete-link"><i class="fas fa-times"></i></a>
                </li>
            {% endfor %}
        {% else %}
        <div class="no-contents">
            <p>У вас пока нет комментариев</p>
            </div>
        {% endif %}
    </ul>
</div>


{% endblock %}