{% extends "cinova_app/base.html" %}



{% block content %}
<div class="form-container">
    <h1>Почта</h1>
{% if emailaddresses %}
<h3><p>С вашей учетной записью связаны следующие адреса электронной почты:</p></h3>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in emailaddresses %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or emailaddresses|length == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">Подтвержден</span>
    {% else %}
    <span class="unverified">Неподтвержден</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">Основной</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction submit-btn" type="submit" name="action_primary" >Сделать основным</button>
      <button class="secondaryAction submit-btn" type="submit" name="action_send" >Отправить подтверждение на почту</button>
      <button class="primaryAction submit-btn" type="submit" name="action_remove" >Удалить</button>
</div>

</fieldset>
</form>

{% else %}
{% include "account/snippets/warn_no_email.html" %}
{% endif %}

  {% if can_add_email %}
    <h1>Добавить почту</h1>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit-btn" name="action_add" type="submit">Добавить почту</button>
    </form>
  {% endif %}
</div>
{% endblock content %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "Вы действительно хотите удалить эту почту?";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock extra_body %}
