{% extends "cinova_app/base.html" %}

{% load account %}

{% block content %}
<h1>Подтверждение почты</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

{% if can_confirm %}
<p>Пожалуйста, подвердите что <a href="mailto:{{ email }}">{{ email }}</a> это почта для пользователя {{ user_display }}.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">Подтвердить</button>
</form>
{% else %}
<p>Не удается подтвердить {{ email }}, поскольку он уже подтвержден другой учетной записью.</p>
{% endif %}

{% else %}

{% url 'account_email' as email_url %}

<p>Срок действия этой ссылки для подтверждения по электронной почте истек или она недействительна. Пожалуйста, <a href="{{ email_url }}">отправьте новый запрос на подтверждение по электронной почте</a>.</p>

{% endif %}

{% endblock content %}
