{% extends "cinova_app/base.html" %}

{% block content %}
    <h1>Почта</h1>
    {% if emailaddresses %}
        {% if current_emailaddress %}
            <p>
                Следующий адрес электронной почты связан с вашей учетной записью:<a href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
            </p>
        {% endif %}
        {% if new_emailaddress %}
            <p>
                Ваш адрес электронной почты все еще ожидает подтверждения: <a href="mailto:{{ new_emailaddress.email }}">{{ new_emailaddress.email }}</a>
            </p>
            <form method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                <button type="submit" name="action_send">Повторная отправка подтверждения</button>
            </form>
        {% endif %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    <h2>Изменить почту</h2>
    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="action_add" type="submit">Изменить</button>
    </form>
{% endblock content %}
