{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h1>Вход</h1>
    <p>
    <h3>Не зарегистрированы? Создайте аккаунт на странице
            <a href="{{ signup_url }}">регистрации</a> прямо сейчас.</h3>
    </p>
    <form method="post" action="{{ login_url }}">
        {% csrf_token %}
        {{ form }}
        <input class="submit-btn" type="submit" value="Войти">
    </form>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <div class="links">
            <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
            <a href="{{ signup_url }}">Создать аккаунт</a>
    </div>
</div>
{% endblock content %}
