{% extends "cinova_app/base.html" %}

{% load account %}


{% block content %}
<div class="form-container">
    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h3><p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его.</p></h3>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit-btn" type="submit" value="Сбросить пароль" />
    </form>

    <p>Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.</p>
</div>
{% endblock content %}
