{% extends "cinova_app/base.html" %}


{% block content %}
<div class="form-container">
    <h1>Сменить пароль</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit-btn" type="submit" name="action">Сменить пароль</button>
        <div class="links">
                <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
        </div>
    </form>
</div>
{% endblock content %}
