{% extends "cinova_app/base.html" %}

{% block content %}

<h1>Подтвердите доступ</h1>

<p>Чтобы обеспечить безопасность вашей учетной записи, пожалуйста, введите свой пароль:</p>

<form class="reauthenticate" method="POST" action="{% url 'account_reauthenticate' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Подтвердить</button>
</form>

{% endblock content %}
