{% extends "cinova_app/base.html" %}


{% block content %}
<h1>Подтвердите свой адрес электронной почты</h1>

{% url 'account_email' as email_url %}

<p>Эта часть сайта требует, чтобы мы подтвердили, что
вы тот, за кого себя выдаете. Для этой цели мы требуем, чтобы вы
подтвердили право собственности на свой адрес электронной почты.</p>

<p>Мы отправили вам электронное письмо для
подтверждения. Пожалуйста, перейдите по ссылке внутри этого письма. Если вы не видите письмо с подтверждением в своем основном почтовом ящике, проверьте папку "Спам". В противном
случае свяжитесь с нами, если вы не получите его в течение нескольких минут.</p>

<p><strong>Примечание:</strong> вы все еще можете <a href="{{ email_url }}">изменить свою почту</a>.</p>


{% endblock content %}
