{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<section class="movies movie-grid">
    <div class="catalog-title">
      Фильмы по выбранному жанру: {{ genre }}
    </div>

  {% for movie in movies %}
<!--  <p>{{ movie.externalId.kpHD }}</p>-->
    <article class="movie-card ">
      <img src="{{ movie.poster.url }}" alt="{{ movie.name }}">

      <div class="content">
        <h1>{{ movie.name }}</h1>

        <div class="infos">
          <span>{{ movie.rating.kp }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;·&nbsp;&nbsp;{{ movie.year }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ movie.movieLength }}</span>
        </div>

        <p class="synopsis">
          {{ movie.description|truncatechars:250 }}
        </p>

        <div class="icons">
            <form action="{% url 'cinova:add_to_favorites' movie.id %}" method="post">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-heart"></i></button>
            </form>
          <a href="{% url 'cinova:movie_detail' movie.id %}"><i class="fas fa-eye"></i></a>
        </div>
      </div>
    </article>
  {% endfor %}
</section>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя</a>
        {% endif %}
    </span>
</div>
{% endblock %}
