{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<section class="carousel-section">
    <div class="carousel">
        <div class="carousel-container">
            {% for poster in posters %}
            <div class="carousel-slide">
                <img src="{{ poster.image.url }}" alt="{{ poster.name }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-prev"><i class="fas fa-chevron-left"></i></button>
        <button class="carousel-next"><i class="fas fa-chevron-right"></i></button>
    </div>
</section>


<section class="genres-section">
    <a class="link" href="#popular-slider">
        <div class="genre-block" id="genre-popular"><i class="fas fa-trophy"></i>&nbsp;Популярные</div>
    </a>
    <a class="link" href="#new-slider">
        <div class="genre-block" id="genre-new"><i class="fas fa-fire"></i>&nbsp;Новые</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'боевик' %}">
        <div class="genre-block"><i class="fas fa-crosshairs"></i>&nbsp;Боевик</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'комедия' %}">
        <div class="genre-block" id="genre--comedy"><i class="fas fa-dice"></i>&nbsp;Комедия</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'ужасы' %}">
        <div class="genre-block" id="genre--horror"><i class="fas fa-ghost"></i>&nbsp;Ужасы</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'приключения' %}">
        <div class="genre-block" id="genre--adventure"><i class="fas fa-earth-america"></i>&nbsp;Приключения</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'детектив' %}">
        <div class="genre-block" id="genre--mystery"><i class="fas fa-user-secret"></i>&nbsp;Детектив</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'фантастика' %}">
        <div class="genre-block" id="genre--sci-fi"><i class="fas fa-rocket"></i>&nbsp;Фантастика</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'мультфильмы' %}">
        <div class="genre-block" id="genre--animation"><i class="fas fa-paint-brush"></i>&nbsp;Мультфильмы</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'триллеры' %}">
        <div class="genre-block" id="genre--thriller"><i class="fas fa-bomb"></i>&nbsp;Триллеры</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'мелодрамы' %}">
        <div class="genre-block" id="genre--romance"><i class="fas fa-heart"></i>&nbsp;Мелодрамы</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'военные' %}">
        <div class="genre-block" id="genre--war"><i class="fas fa-shield-alt"></i>&nbsp;Военные</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'семейные' %}">
        <div class="genre-block" id="genre--family"><i class="fas fa-home"></i>&nbsp;Семейные</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'исторические' %}">
        <div class="genre-block" id="genre--history"><i class="fas fa-scroll"></i>&nbsp;Исторические</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'драмы' %}">
        <div class="genre-block" id="genre--drama"><i class="fas fa-theater-masks"></i>&nbsp;Драмы</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'документальные' %}">
        <div class="genre-block" id="genre--documentary"><i class="fas fa-film"></i>&nbsp;Документальные</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'биографии' %}">
        <div class="genre-block" id="genre--biography"><i class="fas fa-portrait"></i>&nbsp;Биографии</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'спортивные' %}">
        <div class="genre-block" id="genre--sport"><i class="fas fa-running"></i>&nbsp;Спортивные</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'детские' %}">
        <div class="genre-block" id="genre--children"><i class="fas fa-child"></i>&nbsp;Детские</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'вестерны' %}">
        <div class="genre-block" id="genre--western"><i class="fas fa-hat-cowboy"></i>&nbsp;Вестерны</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'мюзиклы' %}">
        <div class="genre-block" id="genre--musical"><i class="fas fa-music"></i>&nbsp;Мюзиклы</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'аниме' %}">
        <div class="genre-block" id="genre--anime"><i class="fas fa-dragon"></i>&nbsp;Аниме</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'реальное-тв' %}">
        <div class="genre-block" id="genre--reality-tv"><i class="fas fa-tv"></i>&nbsp;Реальное ТВ</div>
    </a>
    <a class="link" href="{% url 'cinova:filtered_movies' 'ток-шоу' %}">
        <div class="genre-block" id="genre--talk-show"><i class="fas fa-microphone"></i>&nbsp;Ток-шоу</div>
    </a>
    <button class="prev-arrow"><i class="fas fa-chevron-left"></i></button>
    <button class="next-arrow"><i class="fas fa-chevron-right"></i></button>
</section>


<section id="popular-slider" class="popular-movie movie-grid">
    <div class="catalog-title home-title">
        Популярные фильмы
    </div>
    <div class="slider-container" style="display: flex; overflow: hidden;">
        {% for movie in popular_movies %}
        <article class="movie-card slider">
            <img src="{{ movie.poster.url }}" alt="{{ movie.name }}">
            <div class="content">
                <h1>{{ movie.name }}</h1>
                <div class="infos">
                    <span>
                {% if movie.rating.imdb %}
                    {{ movie.rating.imdb }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                {% else %}
                    {% if movie.rating.kp %}
                        {{ movie.rating.kp|floatformat:1 }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                    {% endif %}
                {% endif %}
                        {% if movie.year %}
                            ·&nbsp;&nbsp;{{ movie.year }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% if movie.movieLength %}
                            ·&nbsp;&nbsp;{{ movie.movieLength }}м
                        {% endif %}
                    </span>
                </div>
                <p class="synopsis">
                    {{ movie.description|truncatechars:250 }}
                </p>
                <div class="icons">
                    <form action="{% url 'cinova:add_to_favorites' movie.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="icon-button"><i class="fas fa-heart"></i></button>
                    </form>
                    <a href="{% url 'cinova:movie_detail' movie.id %}"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'cinova:reviews' movie.id %}"><i class="fas fa-comments"></i></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <button class="prev-button"><i class="fas fa-chevron-left"></i></button>
    <button class="next-button"><i class="fas fa-chevron-right"></i></button>
</section>

<section id="new-slider" class="new-movies movie-grid">
    <div class="catalog-title home-title">
        Новинки
    </div>
    <div class="slider-container" style="display: flex; overflow: hidden;">
        {% for movie in new_movies %}
        <article class="movie-card slider">
            <img src="{{ movie.poster.url }}" alt="{{ movie.name }}">
            <div class="content">
                <h1>{{ movie.name }}</h1>
                <div class="infos">
                <span>
                {% if movie.rating.imdb %}
                    {{ movie.rating.imdb }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                {% else %}
                    {% if movie.rating.kp %}
                        {{ movie.rating.kp|floatformat:1 }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                    {% endif %}
                {% endif %}
                    {% if movie.year %}
                        ·&nbsp;&nbsp;{{ movie.year }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if movie.movieLength %}
                        ·&nbsp;&nbsp;{{ movie.movieLength }}м
                    {% endif %}
                </span>
                </div>
                <p class="synopsis">
                    {{ movie.description|truncatechars:250 }}
                </p>
                <div class="icons">
                    <form action="{% url 'cinova:add_to_favorites' movie.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="icon-button"><i class="fas fa-heart"></i></button>
                    </form>
                    <a href="{% url 'cinova:movie_detail' movie.id %}"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'cinova:reviews' movie.id %}"><i class="fas fa-comments"></i></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <button class="prev-button"><i class="fas fa-chevron-left"></i></button>
    <button class="next-button"><i class="fas fa-chevron-right"></i></button>
</section>

<section class="random-film movie-grid">
    <div class="catalog-title home-title random-title">
        Ваши случайные фильмы на сегодня
    </div>
    {% for random_film in random_films %}
    <article class="movie-card">
        <img src="{{ random_film.poster.url }}" alt="{{ random_film.name }}">
        <div class="content">
            <h1>{{ random_film.name }}</h1>

            <div class="infos">
                <span>
                {% if random_film.rating.imdb %}
                    {{ random_film.rating.imdb }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                {% else %}
                    {% if random_film.rating.kp %}
                        {{ random_film.rating.kp|floatformat:1 }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                    {% endif %}
                {% endif %}
                    {% if random_film.year %}
                        ·&nbsp;&nbsp;{{ random_film.year }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if random_film.movieLength %}
                        ·&nbsp;&nbsp;{{ random_film.movieLength }}м
                    {% endif %}
                </span>
            </div>
            <p class="synopsis">
                {{ random_film.description|truncatechars:250 }}
            </p>
            <div class="icons">
                <form action="{% url 'cinova:add_to_favorites' random_film.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="icon-button"><i class="fas fa-heart"></i></button>
                </form>
                <a href="{% url 'cinova:movie_detail' random_film.id %}"><i class="fas fa-eye"></i></a>
                <a href="{% url 'cinova:reviews' random_film.id %}"><i class="fas fa-comments"></i></a>
            </div>
        </div>
    </article>
    {% endfor %}
</section>
<div class="scroll-to-top">
    <button id="myBtn" title="Наверх">
        <i class="fas fa-chevron-up"></i>
    </button>
</div>

{% endblock %}

