{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<section class="favorite-movies">
    <h1>Избранные фильмы</h1>
    {% if favorite_movies %}
    <ul>
        {% for favorite_movie in favorite_movies %}
        <li>
            <h3>{{ favorite_movie.movie_id }}</h3>
            <div class="icons">
                <form action="{% url 'cinova:remove_from_favorites' favorite_movie.movie_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit"><i class="fas fa-times"></i></button>
                </form>
                <a href="{% url 'cinova:movie_detail' favorite_movie.movie_id %}"><i class="fas fa-eye"></i></a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>У вас пока нет избранных фильмов.</p>
    {% endif %}
</section>
{% endblock %}