{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
  <section class="favorite-movies">
    <h1>Избранные фильмы</h1>
    {% if favorite_movies %}
      <ul>
        {% for favorite_movie in favorite_movies %}
          <li>
            {{ favorite_movie.movie_id }}
            {{ favorite_movie.movie_id.name }}
            {{ favorite_movie.poster.url }}
            <a href="{% url 'cinova:remove_from_favorites' favorite_movie.movie_id %}">Удалить из избранного</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>У вас пока нет избранных фильмов.</p>
    {% endif %}
  </section>
{% endblock %}