{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}

    <div class="catalog-title">
        Отзывы
    </div>
    {% if reviews.docs %}
        <ul>
            {% for review in reviews.docs %}
                <li>
                    <p>Фильм ID: {{ review.movieId }}</p>
                    <p>Заголовок: {{ review.title }}</p>
                    <p>Тип: {{ review.type }}</p>
                    <p>Отзыв: {{ review.review }}</p>
                    <p>Дата: {{ review.date }}</p>
                    <p>Автор: {{ review.author }}</p>
                    <p>Рейтинг пользователя: {{ review.userRating }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Пока нет отзывов к этому фильму.</p>
    {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя</a>
        {% endif %}
    </span>
</div>
{% endblock %}