{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
    <div class="catalog-title">
        Рецензии зрителей
    </div>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <div class="review-container">
                    <li class="review-item">
                        <div class="left-content">
                            {% if review.author %}
                                <p class="review-up">{{ review.author }}</p>
                            {% endif %}
                            {% if review.type == 'Позитивный' %}
                                <i class="fas fa-thumbs-up review-up-icon" style="color: green;"></i>
                            {% elif review.type == 'Негативный' %}
                                <i class="fas fa-thumbs-down review-up-icon" style="color: red;"></i>
                            {% endif %}
                            <p class="review-up">{{ review.date|slice:":10"}}</p>
                        </div>
                        <div class="right-content">
                            {% if review.title %}
                                <p>{{ review.title }}</p>
                            {% endif %}
                            <p>{{ review.review }}</p>
                        </div>
                    </li>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>Пока нет отзывов к этому фильму.</p>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </span>
    </div>
{% endblock %}