{% extends 'cinova_app/base.html' %}
{% load static %}

{% block content %}
<div class="movie-detail">
    <div class="backdrop" style="background-image: url('{{ series.backdrop.url }}');"></div>
    <div class="poster-container">
        {% if series.poster %}
        <img class="detail-poster" src="{{ series.poster.url }}" alt="{{ movie.name }}">
        {% endif %}
    </div>
    <div class="movie-info">
        <h1 class="movie-detail-name">{{ series.name }}</h1>
        <div class="info-container">
            {% if series.year %}
            <div class="info-item">
                <p class="info-value"><i class="fas fa-calendar"></i> {{ series.year }}</p>
            </div>
            {% endif %}
            {% if series.rating %}
            <div class="info-item">
                <p class="info-value"> {{ series.rating.kp|floatformat:1 }} <i class="fas fa-star"></i></p>
            </div>
            {% endif %}
            {% if series.rating and series.rating.imdb %}
            <div class="info-item">
                <p class="info-value">IMDb {{ series.rating.imdb }}</p>
            </div>
            {% endif %}
            {% if series.ageRating %}
            <div class="info-item">
                <p class="info-value">{{ series.ageRating }}+</p>
            </div>
            {% endif %}
        </div>
        <div class="movie-description">
            {% if series.description %}
            <p>{{ series.description }}</p>
            {% endif %}
        </div>
        <div class="watchabilitys">

            {% if series.watchability and series.watchability.items %}
            {% for watchability_item in series.watchability.items %}
            {% if watchability_item.logo and watchability_item.name and watchability_item.url %}
            <a href="{{ watchability_item.url }}" target="_blank"><img class="watchability-img"
                                                                       src="{{ watchability_item.logo.url }}"
                                                                       alt="{{ watchability_item.name }}"></a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="movie-buttons">
            {% if series.videos and series.videos.trailers %}
            <div class="movie-button">
                <a href="{{ series.videos.trailers.0.url }}" class="watch-trailer-link" target="_blank">Смотреть
                    трейлер</a>
            </div>
            {% endif %}
            <div class="movie-button">
                <form action="{% url 'cinova:add_to_favorites' series.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="icon-button">Добавить в избранное</button>
                </form>
            </div>
            <div class="movie-button">
                <a href="{% url 'cinova:reviews' series.id %}">Комментарии</a>
            </div>
            <div class="movie-button">
                <a href="{% url 'cinova:add_review' series.id %}">Оставить комментарий</a>
            </div>
        </div>
    </div>
</div>
<div class="persons-slider">
    <div class="person-slide">
        {% for person in series.persons %}
        <div class="slide">
            {% if person.photo %}
            <img class="movie-detail-persons-img" src="{{ person.photo }}" alt="{{ person.name }}">
            {% endif %}
            <p class="movie-detail-persons-name">{{ person.name }} {% if person.enName %} ({{ person.enName }}) {% endif %}</p>
            {% if person.description %}
            <p class="movie-detail-persons-role">Роль: {{ person.description }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button class="prev-button-p"><i class="fas fa-chevron-left"></i></button>
    <button class="next-button-p"><i class="fas fa-chevron-right"></i></button>
</div>
</div>
<section class="movies movie-grid">
    <div class="catalog-title">
        ПОХОЖИЕ СЕРИАЛЫ
    </div>
    {% for similar_movie in series.similarMovies|slice:":8" %}
    <article class="movie-card ">
        <img src="{{ similar_movie.poster.url }}" alt="{{ similar_movie.name }}">

        <div class="content">
            <h1>{{ similar_movie.name }}</h1>

            <div class="infos">
            <span>
                {% if similar_movie.rating.imdb %}
                    {{ similar_movie.rating.imdb }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                {% else %}
                    {% if similar_movie.rating.kp %}
                        {{ similar_movie.rating.kp|floatformat:1 }}&nbsp;<i class="fas fa-star"></i>&nbsp;&nbsp;
                    {% endif %}
                {% endif %}
                    {% if similar_movie.year %}
                        ·&nbsp;&nbsp;{{ similar_movie.year }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if similar_movie.movieLength %}
                        ·&nbsp;&nbsp;{{ similar_movie.movieLength }}м
                    {% endif %}
            </span>
            </div>

            <p class="synopsis">
                {{ similar_movie.description|truncatechars:250 }}
            </p>

            <div class="icons">
                <form action="{% url 'cinova:add_to_favorites' similar_movie.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="icon-button"><i class="fas fa-heart"></i></button>
                </form>
                <a href="{% url 'cinova:movie_detail' similar_movie.id %}"><i class="fas fa-eye"></i></a>
                <a href="{% url 'cinova:reviews' similar_movie.id %}"><i class="fas fa-comments"></i></a>

            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}